/* src/styles/index.css (global styles) */
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007bff;
}

.app-title {
  text-decoration: none;
  cursor: pointer;
}

.app-title:hover {
  color: #FF4500;
  text-shadow: 0 0 10px #FF7F50;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.create-post-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #FF4500;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.create-post-btn .icon {
  font-size: 1.5rem;
  color: #D7DADC;
  flex-shrink: 0;
}